# Starting out with Python and Jupyter

Our goal for this course is to learn enough Python to extract data from texts, manipulate it, and generate results. To do that, we have to start (more or less) at the beginning.

## Input and Output
Fundamentally we will be passing commands to the computer (input), and viewing or manipulating the results of its work (output).

In Jupyter, we pass input in `cells` and see the output printed below. This is what a `cell` looks like:

If you hit select a cell and hit `enter` or click into the cell, you will be able to begin typing:

In [13]:
100

100

In the example above, our `input` was `100`. I then hit `shift + enter` to execute the cell (you can also click the "play" button above). The output prints below the  cell (`100`).

Of course, the point is usually to transform our `inputs` into new `outputs`:

In [14]:
100 + 1

101

We will cover all of the basic math opeations soon. For now, understand that the command in the cell, `100 + 1` is our `input`. Python read that, and `output` `101`.

## Jupyter Shortcuts
You can use keyboard shortcuts to control a lot of different parts of the Jupyter notebook. They are much faster than using the cursor. Memorizing a few will save you a lot of time over the quarter!

Below are the few that will be valuable for everyday use:

| command | description |
|----------|-----------------------|
`enter` | enter edit mode for the selected cell
`esc`|exit edit mode for the selected cell
`shift + enter`|execute the code inside of the cell
`a`|insert a new cell above your current cell
`b`|insert a new cell below your current cell
`j`|move down one cell
`k`|move up one cell
`dd`|delete the selected cell

## Practice
Create a bunch of new cells using `a` and `b`. Move around them with `j` and `k`. Edit them with `enter`. Exit with `escape`. Then, delete them all using `dd`.

# Built-in objects

Python has a large number of built-in objects that are used for a variety of tasks. We're going to start with `strings` and `numbers`.

### Strings
A string is a computational representation of letters and/or other symbols. We can put texts of any length in a string: single letters, sentences, whole books, etc. In Python, we represent strings by marking them with `'` or `"`. For instance:
```
'this is a string'
```
And:
```
"this is also a string"
```
How do we know? We can have Python check the `type` of the object:

In [17]:
"anything you want"

'anything you want'

In [16]:
'anything you want'

'anything you want'

In [1]:
type('this is a string')

str

In [2]:
type("this is also a string")

str

`str` stands for string.

Note that strings can contain other characters besides letters:

In [19]:
"This is also a string despite all this: 0238410293874&^^$#@%^%(*(_@*))"

'This is also a string despite all this: 0238410293874&^^$#@%^%(*(_@*))'

Sometimes we might want to type or paste in long strings. That can be done by putting `'''` or `"""` at the beginning and end:

In [20]:
'''
Because I could not stop for Death,
He kindly stopped for me;
The carriage held but just ourselves
And Immortality.
'''

'\nBecause I could not stop for Death,\nHe kindly stopped for me;\nThe carriage held but just ourselves\nAnd Immortality.\n'

In [8]:
"""
We slowly drove, he knew no haste,
And I had put away
My labor, and my leisure too,
For his civility.

-Emily Dickinson
"""

'\nWe slowly drove, he knew no haste,\nAnd I had put away\nMy labor, and my leisure too,\nFor his civility.\n\n-Emily Dickinson\n'

Notice what Python outputs:
```
'\nWe slowly drove, he knew no haste,\nAnd I had put away\n
```
Those `\n` characters represent whitespace, specifically a newline. Notice they occur at each of the line-breaks in the poem. `\n` tells the computer to print that whitespace.

### Manipulating strings
Sometimes we will want to combine strings with each other. We can do that in a number of ways:

In [22]:
'fredner'+'@stanford.edu'

'fredner@stanford.edu'

In [21]:
'hello' + 'there'

'hellothere'

Notice what happens: `hello` is "added" to `there`. Unlike us, the computer does not assume that these are two separate words. Python only knows that they are strings to be combined using `+`.

We can fix this in a number of ways. One would be by "adding" the missing space character, `' '`.

In [10]:
'hello' + ' ' + 'there'

'hello there'

In [11]:
'hello ' + 'there'

'hello there'

In [12]:
'hello' + ' there'

'hello there'

We could even try playing around with that newline character to separate the words. This doesn't print the whitespace:

In [16]:
'hello' + '\n' + 'there'

'hello\nthere'

But `print` does:

In [15]:
print('hello' + '\n' + 'there')

hello
there

## Comments
It's good practice to write comments in your code describing what it does. It will help your peers (and your future self!)

We indicate a comment with a `#`. The computer does not do anything with comments; they're only for humans.

In [24]:
# this is a comment

print('Python will print this, but it will not print the comments')

# see?

Python will print this, but it will not print the comments

We use comments to describe the *intentions* and *operation* of our programs. This becomes more important as our programs become more complex.

## Numbers
Numbers can be typed directly:

In [19]:
1

1

In [33]:
1 + 1

2

Most math will work as you would expect:

In [21]:
1 - 1

0

In [25]:
1 * 5 # * means multiplication

5

In [28]:
1 / 5 # / means division

0.2

As we learned above, numbers in quotes *are not treated as numbers*. They are strings:

In [26]:
'1'+'1'

'11'

In [11]:
'1' + '+' + '1'

'1+1'

Python has multiple ways of representing numbers. The two that we will primarily be concerned with are `integers` and `floating point numbers` or `floats`. `Integers` are whole numbers (1, 2, etc.) and `floats` offer fractional specificity (1.5, 0.3, and even 1.0).

In [28]:
type('s')

str

In [27]:
type(1)

int

In [35]:
type(1.0)

float

Operations on integers can produce floats:

In [36]:
type(1/5)

float

Operations on floats will not produce integers usually:

In [38]:
0.5+0.5

1.0

In [37]:
type(0.5+0.5)

float

Python converts numbers between these types for us. Usually we don't need to worry about it, but it's good to know what's happening "under the hood."

## Practice
1. How do you tell Python that something is a string?
2. How could you combine two or more strings?
3. How do you write an integer or a float?
4. How would you divide two numbers?

# Variables
Now we can use Python as a calculator, and to print strings. Variables make it possible for us to store values, and change them over time.

## What is a variable?
Swiss semiotician Ferdinand de Saussure divided the idea of a sign into two components: the signifier and the signified. The sign "tree" is a signifier. An actual tree (bark, leaves, etc.) is its signified.

One of Saussure's great contributions is the observation that the relationship between signifier and signified is *arbitrary*. "Tree" is not clearly a better signifier than "nbawlks" for the thing we call a tree, except by convention.

The arbitrary relation between the signifier and the signified allows us to choose variable names to represent many different objects:

In [31]:
variable = 1203984710293847

In [32]:
variable

1203984710293847

In [42]:
tree = """
          &&& &&  & &&
      && &\/&\|& ()|/ @, &&
      &\/(/&/&||/& /_/)_&/_&
   &() &\/&|()|/&\/ '%" & ()
  &_\_&&_\ |& |&&/&__%_/_& &&
&&   && & &| &| /& & % ()& /&&
 ()&_---()&\&\|&&-&&--%---()~
     &&     \|||
             |||
             |||
             |||
       , -=-~  .-^- _

"""

In [44]:
print(tree)

          &&& &&  & &&
      && &\/&\|& ()|/ @, &&
      &\/(/&/&||/& /_/)_&/_&
   &() &\/&|()|/&\/ '%" & ()
  &_\_&&_\ |& |&&/&__%_/_& &&
&&   && & &| &| /& & % ()& /&&
 ()&_---()&\&\|&&-&&--%---()~
     &&     \|||
             |||
             |||
             |||
       , -=-~  .-^- _

## Using variables

In [42]:
first_name = 'Erik'

In [43]:
last_name = 'Fredner'

In [44]:
first_name + last_name

'ErikFredner'

In [46]:
favorite_number = 33

In [47]:
favorite_number / 3

11.0

To keep going with Saussure, the arbitrary relation between the signifier and the signified enables *reassignment*. Consider the following:

In [53]:
first_name

'Erik'

What will happen if I set `first_name` equal to something else?

In [48]:
first_name = 'Eric'

In [49]:
first_name

'Eric'

In [51]:
first_name + ' ' + last_name

'Eric Fredner'

In [58]:
erik = None

In [60]:
erik = 'me'

In [62]:
a = erik

In [63]:
a

'me'

In [64]:
erik = 'me too'

In [65]:
a

'me'

In [66]:
erik

'me too'

Variables can be overwritten. This allows you to use one variable name for *every element* in an operation. Below is a more complex example. Pay attention to how the variable name is being used:

Not everything can be reassigned. For instance:

In [63]:
a = 1

In [64]:
a

1

In [65]:
a = 2

In [66]:
a

2

In [67]:
1 = 2

SyntaxError: can't assign to literal (<ipython-input-67-c0ab9e3898ea>, line 1)

# Summary
We learned how Python represents integers, strings, and comments; how indexing works; how to assign variables; and some basic techniques for manipulating and measuring strings.